<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="seeit3d.category"
            class="seeit3d.view.SeeIT3DView"
            icon="icons/logoseeit3d.png"
            id="seeit3d.seeit3dview"
            name="SeeIT 3D View"
            restorable="true">
      </view>
      <category
            id="seeit3d.category"
            name="SeeIT3D">
      </category>
   </extension>
   <extension
         id="seeit3d.commands"
         name="SeeIT3D Commands"
         point="org.eclipse.ui.commands">
      <command
            categoryId="seeit3d.commands"
            defaultHandler="seeit3d.commands.DeleteContainerCommand"
            id="seeit3d.deleteContainerInView"
            name="Delete Container in View">
      </command>
      <command
            categoryId="seeit3d.commands"
            defaultHandler="seeit3d.commands.DeleteAllContainerCommand"
            id="seeit3d.deleteAllContainersInView"
            name="Delete All Containers">
      </command>
      <command
            categoryId="seeit3d.commands"
            defaultHandler="seeit3d.commands.ScaleUpContainerCommand"
            id="seeit3d.scaleUpContainerInView"
            name="Scale Up Container">
      </command>
      <command
            categoryId="seeit3d.commands"
            defaultHandler="seeit3d.commands.ScaleDownContainerCommand"
            id="seeit3d.scaleDownContainerInView"
            name="Scale Down Container">
      </command>
      <command
            categoryId="seeit3d.commands"
            id="seeit3d.visualizeInSeeit3d"
            name="Visualize In SeeIT 3D">
      </command>
      <command
            categoryId="seeit3d.commands"
            defaultHandler="seeit3d.commands.ToggleSynchPackageAndViewCommand"
            id="seeit3d.toggleSynchPackageAndView"
            name="Toggle Synchronization between View and Package Explorer">
      </command>
      <command
            categoryId="seeit3d.commands"
            defaultHandler="seeit3d.commands.MakeMoreTransparentPolyCylindersSelectionCommand"
            id="seeit3d.makeMoreTransparentPolycylindersSelection"
            name="Make more transparent selection">
      </command>
      <command
            categoryId="seeit3d.commands"
            defaultHandler="seeit3d.commands.MakeLessTransparentPolyCylindersSelectionCommand"
            id="seeit3d.makeLessTransparentPolycylindersSelection"
            name="Make less transparent selection">
      </command>
      <command
            categoryId="seeit3d.commands"
            defaultHandler="seeit3d.commands.SortPolyCylindersCommand"
            id="seeit3d.sortPolyCylinders"
            name="Sort PolyCylinders">
      </command>
      <command
            categoryId="seeit3d.commands"
            defaultHandler="seeit3d.commands.ChangeSortingPolyCylindersCriteriaCommand"
            id="seeit3d.orderPolyCylindersByCriteria"
            name="Change Sorting Polycylinders Criteria">
         <commandParameter
               id="seeit3d.commands.sortByParameter"
               name="Polycylinders Criteria"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="seeit3d.commands"
            defaultHandler="seeit3d.commands.ShowRelatedContainersCommand"
            id="seeit3d.showRelatedContainers"
            name="Show Related Containers">
      </command>
      <command
            categoryId="seeit3d.commands"
            defaultHandler="seeit3d.commands.ChangeContainerSelectionIncrease"
            id="seeit3d.changeContainerSelectionIncrease"
            name="Change Container Selection Increase">
      </command>
      <command
            categoryId="seeit3d.commands"
            defaultHandler="seeit3d.commands.ChangeContainerSelectionDecrease"
            id="seeit3d.changeContainerSelectionDecrease"
            name="Change Container Selection Decrease">
      </command>
      <command
            categoryId="seeit3d.commands"
            defaultHandler="seeit3d.commands.ResetVisualizationCommand"
            id="seeit3d.resetCommand"
            name="Reset Visualization">
      </command>
      <category
            id="seeit3d.commands"
            name="SeeIT 3D Commands">
      </category>
      <command
            categoryId="seeit3d.commands"
            defaultHandler="seeit3d.commands.VisualizeJavaElementFromEditor"
            id="seeit3d.visualizeElementFromEditor"
            name="Visualize Element From Editor">
         <commandParameter
               id="seeit3d.visualizeFromEditorParameter"
               name="Element to visualize"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="seeit3d.commands"
            defaultHandler="seeit3d.commands.SaveCurrentVisualizationCommand"
            id="seeit3d.saveCurrentVisualization"
            name="Save Visualization">
      </command>
      <command
            categoryId="seeit3d.commands"
            defaultHandler="seeit3d.commands.LoadSavedVisualization"
            id="seeit3d.loadSavedVisualization"
            name="Load Visualization">
      </command>d>ommand>
   </extension>
   <extension
         id="seeit3d.menu"
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:seeit3d.seeit3dview">
         <command
               commandId="seeit3d.deleteContainerInView"
               id="seeit3d.deleteContainerInViewInToolbar"
               label="Delete the current container"
               style="push"
               tooltip="Delete the current container">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:seeit3d.seeit3dview">
         <command
               commandId="seeit3d.deleteAllContainersInView"
               id="seeit3d.deleteAllContainersInViewInToolbar"
               label="Delete All Containers In View"
               style="push"
               tooltip="Delete All Containers In View">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:seeit3d.seeit3dview">
         <command
               commandId="seeit3d.scaleUpContainerInView"
               label="Scale Up Container"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:seeit3d.seeit3dview">
         <command
               commandId="seeit3d.scaleDownContainerInView"
               label="Scale Down Container"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="seeit3d.visualizeInSeeit3d"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:seeit3d.seeit3dview">
         <command
               commandId="seeit3d.toggleSynchPackageAndView"
               label="Toggle Synchronization between View and Package Explorer"
               style="toggle">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:seeit3d.seeit3dview">
         <menu
               label="Order by">
            <command
                  commandId="seeit3d.orderPolyCylindersByCriteria"
                  label="Height"
                  style="radio">
               <parameter
                     name="seeit3d.commands.sortByParameter"
                     value="HEIGHT">
               </parameter>
            </command>
            <command
                  commandId="seeit3d.orderPolyCylindersByCriteria"
                  label="Color"
                  style="radio">
               <parameter
                     name="seeit3d.commands.sortByParameter"
                     value="COLOR">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:seeit3d.seeit3dview">
         <command
               commandId="seeit3d.sortPolyCylinders"
               label="Sort PolyCylinders"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:seeit3d.seeit3dview">
         <command
               commandId="seeit3d.showRelatedContainers"
               label="Show Related Containers"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.search.ui.views.SearchView">
         <command
               commandId="seeit3d.visualizeInSeeit3d"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:seeit3d.seeit3dview">
         <command
               commandId="seeit3d.resetCommand"
               label="Reset View"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:#CompilationUnitEditorContext">
         <menu
               label="Visualize In SeeIT 3D">
            <command
                  commandId="seeit3d.visualizeElementFromEditor"
                  label="Visualize this File"
                  style="push">
               <parameter
                     name="seeit3d.visualizeFromEditorParameter"
                     value="JAVA_FILE">
               </parameter>
            </command>
            <command
                  commandId="seeit3d.visualizeElementFromEditor"
                  label="Visualize Parent Package"
                  style="push">
               <parameter
                     name="seeit3d.visualizeFromEditorParameter"
                     value="PACKAGE">
               </parameter>
            </command>
            <command
                  commandId="seeit3d.visualizeElementFromEditor"
                  label="Visualize Parent Project"
                  style="push">
               <parameter
                     name="seeit3d.visualizeFromEditorParameter"
                     value="PROJECT">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:seeit3d.seeit3dview">
         <command
               commandId="seeit3d.saveCurrentVisualization"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:seeit3d.seeit3dview">
         <command
               commandId="seeit3d.loadSavedVisualization"
               style="push">
         </command>
      </menuContribution>      
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="seeit3d.view.perspective.SeeIT3DPerspectiveFactory"
            icon="icons/logoseeit3d.png"
            id="seeit3d.seeit3dperspective"
            name="SeeIT3D">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="seeit3d.scaleUpContainerInView"
            contextId="seeit3d.seeit3dviewContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Alt++">
      </key>
      <key
            commandId="seeit3d.scaleDownContainerInView"
            contextId="seeit3d.seeit3dviewContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Alt+-">
      </key>
      <key
            commandId="seeit3d.visualizeInSeeit3d"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Alt+X">
      </key>
      <key
            commandId="seeit3d.makeLessTransparentPolycylindersSelection"
            contextId="seeit3d.seeit3dviewContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Alt+,">
      </key>
      <key
            commandId="seeit3d.makeMoreTransparentPolycylindersSelection"
            contextId="seeit3d.seeit3dviewContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Alt+.">
      </key>
      <key
            commandId="seeit3d.deleteContainerInView"
            contextId="seeit3d.seeit3dviewContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Del">
      </key>
      <key
            commandId="seeit3d.deleteAllContainersInView"
            contextId="seeit3d.seeit3dviewContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Shift+Del">
      </key>
      <key
            commandId="seeit3d.sortPolyCylinders"
            contextId="seeit3d.seeit3dviewContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Alt+S">
      </key>
      <key
            commandId="seeit3d.showRelatedContainers"
            contextId="seeit3d.seeit3dviewContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Alt+R">
      </key>
      <key
            commandId="seeit3d.changeContainerSelectionIncrease"
            contextId="seeit3d.seeit3dviewContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="TAB">
      </key>
      <key
            commandId="seeit3d.changeContainerSelectionDecrease"
            contextId="seeit3d.seeit3dviewContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Shift+TAB">
      </key>
      <key
            commandId="seeit3d.resetCommand"
            contextId="seeit3d.seeit3dviewContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Shift+R">
      </key>
      <key
            commandId="seeit3d.loadSavedVisualization"
            contextId="seeit3d.seeit3dviewContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+O">
      </key>
      <key
            commandId="seeit3d.saveCurrentVisualization"
            contextId="seeit3d.seeit3dviewContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+S">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="seeit3d.seeit3dviewContext"
            name="SeeIT 3D View Context"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="seeit3d.commands.VisualizePackageInView3dCommand"
            commandId="seeit3d.visualizeInSeeit3d">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="org.eclipse.jdt.core.IPackageFragment">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="seeit3d.commands.VisualizeJavaFileInView3dCommand"
            commandId="seeit3d.visualizeInSeeit3d">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="org.eclipse.jdt.core.ICompilationUnit">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="seeit3d.commands.VisualizeMethodInView3dCommand"
            commandId="seeit3d.visualizeInSeeit3d">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="org.eclipse.jdt.core.IMethod">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="seeit3d.commands.VisualizeProjectInView3dCommand"
            commandId="seeit3d.visualizeInSeeit3d">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="org.eclipse.jdt.core.IJavaProject">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="seeit3d.commands.VisualizeTypeInView3dCommand"
            commandId="seeit3d.visualizeInSeeit3d">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="org.eclipse.jdt.core.IType">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="seeit3d.commands.VisualizeFromXMLFile"
            commandId="seeit3d.visualizeInSeeit3d">
         <activeWhen>
            <iterate>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="seeit3d.xmlcontentttype">
               </test>
            </iterate>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="seeit3d.deleteAllContainersInView"
            icon="icons/clear.gif">
      </image>
      <image
            commandId="seeit3d.deleteContainerInView"
            icon="icons/delete.gif">
      </image>
      <image
            commandId="seeit3d.showRelatedContainers"
            icon="icons/relations.gif">
      </image>
      <image
            commandId="seeit3d.scaleDownContainerInView"
            icon="icons/scaleDown.gif">
      </image>
      <image
            commandId="seeit3d.scaleUpContainerInView"
            icon="icons/scaleUp.gif">
      </image>
      <image
            commandId="seeit3d.sortPolyCylinders"
            icon="icons/sort.gif">
      </image>
      <image
            commandId="seeit3d.toggleSynchPackageAndView"
            icon="icons/synced.gif">
      </image>
      <image
            commandId="seeit3d.resetCommand"
            icon="icons/reset.gif">
      </image>
      <image
            commandId="seeit3d.saveCurrentVisualization"
            icon="icons/save_visualization.gif">
      </image>
      <image
            commandId="seeit3d.loadSavedVisualization"
            icon="icons/open_visualization.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="seeit3d.preferences.SeeIT3DPreferencesPage"
            id="seeit3d.preferencesPage"
            name="SeeIT 3D">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="xml"
            id="seeit3d.xmlcontentttype"
            name="SeeIT 3D XML File"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element"
                  value="containers">
            </parameter>
         </describer>
      </content-type>
   </extension>

</plugin>
